body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    background-color: #d1d1d157;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

a {
    text-decoration: none;
    color: #567c21;
}

.conversation {
    width: 90%;
}

.conversation .droite {
    color: #0b1301;
}

.conversation .gauche {
    color: #75ce09;
    text-align: right;
}

.conversation .droite .img2 {
    width: 40%;
    height: 800px;
}

@media(max-width:768px) {
    .conversation .droite {
        color: #0b1301;
    }

    .conversation .gauche {
        color: #75ce09;
        text-align: right;
    }

    .conversation .droite .img2 {
        width: 40%;
        height: 400px;
    }
}

/* .conversation .droite,
.gauche {
    animation: saisie 10s infinite;
    border-bottom: 1px solid #0c1303;
    padding-bottom: 5px;
}

@keyframes saisie {
    0% {
        width: 0;
        background-color: #8fcf353a;
    }

    100% {
        width: 100%;
        background-color: #8fcf353a;
    }
} */


/* a::view-transition {
    transition: .5s;
} */

.h2 {
    /* margin-left: 30%; */
    text-align: center;
    font-size: 45px;
}

.h3 {
    margin-left: 20%;
    font-size: 25px;
    font-weight: 600px;
    width: 80%;
    text-align: left;
}

/*  */


.span {
    font-size: 40px;
    font-weight: 600px;
    color: #365708;
    width: 80%;
    text-align: left;
}

/* header section start */

.login-header {
    display: flex;
    align-items: center;
}

.login-r {
    width: 30%;
}

.login-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: small;
    align-items: right;
    height: 30px;
    width: 60%;

}

.login-navbar ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    margin-left: 0;
}

@media(max-width:768px) {
    .login-header {
        display: block;
        align-items: center;
    }

    .login-navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: small;
        align-items: right;
        height: 30px;
        width: 60%;

    }

    .login-navbar ul {
        width: 100%;
        display: flex;
        list-style-type: none;
        margin-left: 0;
    }
}

/* .login-navbar .nav {
    margin-right: 50%;
    margin-top: 0;
    width: 50%;
    height: 45px;
    background-color: #3b5816;
    border-radius: 25px;
} */



/* end section  */

/* header section start */

.header {
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 9999;
    width: 100%;
}

.r {
    width: 50%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: small;
    align-items: right;
    height: 30px;
    width: 60%;

}

.navbar ul {
    width: 100%;
    display: flex;
    text-align: center;
    /* margin-right: 50px; */
    list-style-type: none;
    margin-right: 75px;
}

.navbar ul li a:hover {
    color: aliceblue;
    transition: .7s;
}

.navbar .nav {
    /* margin: 50%; */
    margin-right: 50px;
    margin-top: 0;
    width: auto;
    height: 45px;
    background-color: #030501;
    border-radius: 25px;
}

li {
    color: #0c1303;
    font-size: 17px;
    padding-bottom: 50px;
    margin-left: 45px;
    /* justify-content: space-between; */
}

li a {
    text-decoration: none;
    color: #90cf35;
}

li:hover {
    color: #90cf35;
    cursor: pointer;
    transition: .5s;
}

li a:hover {
    color: #0c1303;
    cursor: pointer;
    transition: .5s;
}

.logo {
    position: relative;
    margin-top: 10px;
    margin-left: 100px;
    width: 12%px;
    height: 95px;
}

.logo-1 {
    width: 150px;
    height: 80px;
}

@media(max-width:900px) {
    .header {
        display: flex;
        /* align-items: center; */
        top: 0;
        /* position: fixed; */
        margin: 0;
        padding: 0;
        /* z-index: 9999; */
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: small;
        margin-right: 160px;
        /* align-items: center; */
        height: 30px;
        width: 60%;

    }

    .navbar ul {
        width: 100%;
        display: flex;
        text-align: center;
        list-style-type: none;
        margin-right: 75px;
    }

    .navbar ul li a:hover {
        color: aliceblue;
        transition: .7s;
    }

    .navbar .nav {
        /* margin: 50%; */
        margin-right: 50px;
        margin-top: 0;
        width: auto;
        height: 45px;
        background-color: #030501;
        border-radius: 25px;
    }

    li {
        color: #0c1303;
        font-size: 17px;
        padding-bottom: 50px;
        margin-left: 45px;
        /* justify-content: space-between; */
    }

    li a {
        text-decoration: none;
        color: #90cf35;
    }

    li:hover {
        color: #90cf35;
        cursor: pointer;
        transition: .5s;
    }

    li a:hover {
        color: #0c1303;
        cursor: pointer;
        transition: .5s;
    }

    .logo {
        /* position: relative; */
        margin-top: 10px;
        margin-right: 400px;
        width: 30%;
        height: 95px;
    }

    .logo-1 {
        width: 120px;
        height: 40px;
    }
}

@media(max-width:768px) {
    .header {
        display: flex;
        /* align-items: center; */
        top: 0;
        /* position: fixed; */
        margin: 0;
        padding: 0;
        /* z-index: 9999; */
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: small;
        margin-right: 160px;
        /* align-items: center; */
        height: 30px;
        width: 60%;

    }

    .navbar ul {
        width: 100%;
        display: flex;
        text-align: center;
        list-style-type: none;
        margin-right: 75px;
    }

    .navbar ul li a:hover {
        color: aliceblue;
        transition: .7s;
    }

    .navbar .nav {
        /* margin: 50%; */
        margin-right: 50px;
        margin-top: 0;
        width: auto;
        height: 45px;
        background-color: #030501;
        border-radius: 25px;
    }

    li {
        color: #0c1303;
        font-size: 17px;
        padding-bottom: 50px;
        margin-left: 45px;
        /* justify-content: space-between; */
    }

    li a {
        text-decoration: none;
        color: #90cf35;
    }

    li:hover {
        color: #90cf35;
        cursor: pointer;
        transition: .5s;
    }

    li a:hover {
        color: #0c1303;
        cursor: pointer;
        transition: .5s;
    }

    .logo {
        /* position: relative; */
        margin-top: 10px;
        margin-right: 400px;
        width: 30%;
        height: 95px;
    }

    .logo-1 {
        width: 120px;
        height: 40px;
    }
}

@media(max-width:425px) {
    .header {
        display: block;
        /* align-items: center; */
        top: 0;
        /* position: fixed; */
        margin: 0;
        padding: 0;
        /* z-index: 9999; */
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: small;
        margin-right: 160px;
        /* align-items: center; */
        height: 30px;
        width: 10%;

    }

    .navbar ul {
        width: 10%;
        display: flex;
        text-align: center;
        list-style-type: none;
        margin-right: 75px;
    }

    .navbar ul li a:hover {
        color: aliceblue;
        transition: .7s;
    }

    .navbar .nav {
        /* margin: 50%; */
        margin-right: 40px;
        margin-top: 0;
        width: auto;
        height: 45px;
        background-color: #030501;
        border-radius: 25px;
    }

    li {
        color: #0c1303;
        font-size: 17px;
        padding-bottom: 0px;
        font-size: 12px;
        margin-left: 15px;
        /* justify-content: space-between; */
    }

    li a {
        text-decoration: none;
        color: #90cf35;
    }

    li:hover {
        color: #90cf35;
        cursor: pointer;
        transition: .5s;
    }

    li a:hover {
        color: #0c1303;
        cursor: pointer;
        transition: .5s;
    }

    .logo {
        /* position: relative; */
        margin-top: 10px;
        margin-right: 400px;
        width: 30%;
        height: 95px;
    }

    .logo-1 {
        width: 120px;
        height: 40px;
    }
}



/* Header section end */

/* Slider Section start */


.slider {
    position: relative;
    width: 90%;
    height: 700px;
    margin: 40px auto;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1s;
}

.slide.active {
    opacity: 1;
}

.image {
    width: 50%;
    height: 70%;
    border-radius: 25px;
    /* margin-right: 300px; */
    object-fit: cover;
}

.description {
    width: 50%;
    padding: 20px;
    /* font-size: 16px; */
}

.description p {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-weight: 700;
    font-weight: 400px;
}

.slide a {
    border: none;
    width: 40%;
    font-size: 20px;
    border-radius: 15px;
    margin-left: 20%;
    padding: 8px;
    color: #263a0b;
    background-color: #90cf35;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media(max-width:780px) {
    .slider {
        position: relative;
        width: 90%;
        height: 600px;
        margin: 40px auto;
        overflow: hidden;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 1s;
    }

    .slide.active {
        opacity: 1;
    }

    .image {
        width: 40%;
        height: 70%;
        border-radius: 25px;
        /* margin-right: 300px; */
        object-fit: cover;
    }

    .description {
        width: 60%;
        padding: 20px;
        /* font-size: 16px; */
    }

    .description p {
        width: 100%;
        text-align: center;
        font-size: 19px;
        padding: 20px;
        font-weight: 700;
        font-weight: 400px;
    }

    .slide a {
        border: none;
        width: 40%;
        font-size: 13px;
        border-radius: 15px;
        margin-left: 20%;
        padding: 8px;
        color: #263a0b;
        background-color: #90cf35;
        text-decoration: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}


@media(max-width:480px) {
    .slider {
        position: relative;
        width: 90%;
        height: 350px;
        margin: 40px auto;
        margin-top: 210px;
        /* overflow: hidden; */
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 1s;
    }

    .slide.active {
        opacity: 1;
    }

    .image {
        width: 100%;
        height: 50%;
        border-radius: 25px;
        /* margin-right: 300px; */
        object-fit: cover;
    }

    .description {
        width: 100%;
        padding: 20px;
        /* font-size: 16px; */
    }

    .description p {
        width: 100%;
        text-align: left;
        font-size: 10px;
        padding: 20px;
        font-weight: 700;
        /* font-weight: 400px; */
    }

    .slide a {
        border: none;
        width: 40%;
        font-size: 13px;
        border-radius: 15px;
        margin-left: 20%;
        padding: 8px;
        color: #263a0b;
        background-color: #90cf35;
        text-decoration: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

/* Slider section end  */


/* Section start */

.section {
    position: relative;
    width: 90%;
    /* height: 1500px; */
    margin: 40px auto;
}

.section h1 {
    text-align: center;
    color: #0b1301;
}

.section .sup_section {
    display: flex;
    height: 650px;
}

.section .sup_section .sup-one {
    width: 50%;
    height: 40px;
    /* display: flex; */
}

.section .sup_section .sup-one .img {
    width: 80%;
    height: 500px;
    /* display: flex; */
}

.section .sup_section .sup-one img {
    width: 40%;
    height: 60px;
    /* display: flex; */
}

.section .sup_section .sup-one .sup_one {
    width: 50%;
    /* height: 60px; */
    border-radius: 25px;
    align-items: center;
    display: flex;
}

.section .sup_section .sup-one .sup_one:hover {
    cursor: pointer;
}

.section .sup_section .sup-two {
    width: 50%;
    /* height: auto; */
}

.section .sup_section .sup-two img {
    width: 80%;
    border-radius: 25px;
    height: 500px;
}

.section .sub_section {
    display: flex;
}

.section .sub_section .sub_one,
.sub_two,
.sub_tree {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    width: 40%;
    border: 1px solid #567c21;
    border-radius: 25px;
    margin: 10px;
}

.section .sub_section .sub_one:hover,
.sub_two:hover,
.sub_tree:hover {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    width: 40%;
    background-color: #567c21;
    border: none1;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    transition: .5s;
}


@media(max-width:780px) {
    .section {
        position: relative;
        width: 90%;
        /* height: 1500px; */
        margin: 40px auto;
    }

    .section h1 {
        text-align: center;
        color: #0b1301;
    }

    .section .sup_section {
        display: flex;
        height: 550px;
    }

    .section .sup_section .sup-one {
        width: 50%;
        height: 40px;
        /* display: flex; */
    }

    .section .sup_section .sup-one .img {
        width: 80%;
        height: 400px;
        /* display: flex; */
    }

    .section .sup_section .sup-one img {
        width: 60%;
        height: 50px;
        /* display: flex; */
    }

    .section .sup_section .sup-one .sup_one {
        width: 50%;
        /* height: 60px; */
        border-radius: 25px;
        align-items: center;
        display: flex;
    }

    .section .sup_section .sup-one .sup_one:hover {
        cursor: pointer;
    }

    .section .sup_section .sup-two {
        width: 50%;
        /* height: auto; */
    }

    .section .sup_section .sup-two img {
        width: 70%;
        border-radius: 25px;
        height: 350px;
    }

    .section .sub_section {
        display: flex;
    }

    .section .sub_section .sub_one,
    .sub_two,
    .sub_tree {
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        width: 35%;
        border: 1px solid #567c21;
        border-radius: 25px;
        margin: 10px;
    }

    .section .sub_section .sub_one:hover,
    .sub_two:hover,
    .sub_tree:hover {
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        width: 40%;
        background-color: #567c21;
        border: none1;
        border-radius: 25px;
        margin: 10px;
        cursor: pointer;
        transition: .5s;
    }
}

@media(max-width:420px) {
    .section {
        position: relative;
        width: 90%;
        /* height: 1500px; */
        margin: 40px auto;
    }

    .section h1 {
        text-align: center;
        color: #0b1301;
    }

    .section .sup_section {
        display: flex;
        height: 350px;
    }

    .section .sup_section .sup-one {
        width: 50%;
        height: 40px;
        /* display: flex; */
    }

    .section .sup_section .sup-one .img {
        width: 60%;
        height: 210px;
        /* display: flex; */
    }

    .section .sup_section .sup-one img {
        width: 60%;
        height: 40px;
        /* display: flex; */
    }

    .section .sup_section .sup-one .sup_one {
        width: 50%;
        /* height: 60px; */
        border-radius: 25px;
        align-items: center;
        display: flex;
    }

    .section .sup_section .sup-one .sup_one:hover {
        cursor: pointer;
    }

    .section .sup_section .sup-two {
        width: 50%;
        /* height: auto; */
    }

    .section .sup_section .sup-two img {
        width: 100%;
        border-radius: 25px;
        height: 240px;
    }

    .section .sub_section {
        display: block;
    }

    .section .sub_section .sub_one,
    .sub_two,
    .sub_tree {
        text-align: center;
        font-size: 9px;
        font-weight: 300;
        width: 95%;
        height: 100px;
        background-color: #000;
        color: aliceblue;
        /* border: 1px solid #567c21; */
        border-radius: 25px;
        margin: 10px;
    }

    .section .sub_section .sub_one img,
    .sub_two img,
    .sub_tree img {
        height: 0px;
    }

    .section .sub_section .sub_one:hover,
    .sub_two:hover,
    .sub_tree:hover {
        background-color: #567c21;
        cursor: pointer;
        transition: .5s;
    }
}

/* Section end  */


/* Login Container Section */

.login-bg {
    background-color: #c6c7c542;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 40px auto;
    width: 90%;
    border-radius: 25px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    /* opacity: 0.5; */
    backdrop-filter: blur(5px);
    background: rgba(184, 185, 185, 0.096);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.formulaire {
    width: 35%;
    /* backdrop-filter: blur(7px);
    background: aliceblue;
    color: #000; */
    border-radius: 15px;
    padding: 20px;
    opacity: .7;
    background-color: rgba(130, 131, 133, 0.541);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulaire .li {
    margin-left: 5%;
    text-align: left;
    margin-top: 20px;
}

.formulaire .li .li-1 {
    font-size: 18px;
    width: 80%;
}

.formulaire .li .li-2 {
    border: none;
    margin: auto;
    width: 75%;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 15px;
    padding: 10px;
    background-color: aliceblue;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulaire .li-3 {
    border: none;
    width: 40%;
    font-size: 20px;
    border-radius: 15px;
    margin-left: 20%;
    padding: 8px;
    color: #263a0b;
    background-color: #90cf35;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.formulaire .li-3:hover {
    border: none;
    color: #8fe21b;
    background-color: #567c21;
    transition: .5s;
}

.image2 {
    width: 40%;
    padding: 20px;
}

.image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive de la page login  */

@media(max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
        /* width: 100%; */
        /* margin-right: 20%; */
        display: flex;
    }

    .header .logo {
        width: 100px;
    }

    .header .navbar {
        width: 50%;
    }

    .formulaire {
        width: 100%;
    }

    .formulaire .li-3 {
        border: none;
        width: 15%;
        font-size: 13px;
        border-radius: 15px;
        margin-left: 50%;
        padding: 8px;
        color: #263a0b;
        background-color: #90cf35;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .h2 {
        margin-left: 30%;
        font-size: 45px;
    }

    .image2 {
        width: 100%;
    }
}

@media(max-width: 480px) {
    .container {
        padding: 10px;
        /* flex-direction: column; */
    }

    .login-header {
        display: block;
    }

    .logo {
        width: 25%;
    }

    .login-navbar {
        width: 75%;
    }

    .h3 {
        margin-left: 2px;
        font-size: 15px;
        font-weight: 600px;
        width: 100%;
        text-align: center;
    }

    .login-navbar nav ul {
        /* padding: 10px; */
        /* flex-direction: column; */
        display: flex;
        /* font-size: 75px; */
        text-align: left;
        list-style-type: none;
        margin-right: 55px;
    }

    .header .logo {
        width: 10%;
    }

    .header .navbar {
        width: 50%;
    }

    .formulaire {
        padding: 10px;
    }

    .image2 img {
        padding: 10px;
        width: 50px;
    }

    .formulaire .li-3 {
        margin-left: 110px;
        width: 100px;
    }
}

/* end responsive */

/* end login section  */

/* Contact container section */

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 150px auto;
    width: 80%;
    border-radius: 25px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    /* opacity: 0.5; */
    backdrop-filter: blur(5px);
    background: rgba(184, 185, 185, 0.096);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.contact-container .formulaire {
    width: 40%;
    backdrop-filter: blur(7px);
    background: aliceblue;
    color: #000;
    border-radius: 15px;
    padding: 20px;
    opacity: .7;
    background-color: rgba(142, 143, 143, 0.397);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image2 {
    width: 50%;
    /* padding: 20px; */
}

.image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:900px) {
    .contact-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 150px auto;
        width: 80%;
        border-radius: 25px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .contact-form {
        /* opacity: 0.5; */
        backdrop-filter: blur(5px);
        background: rgba(184, 185, 185, 0.096);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #000;
    }

    .contact-container .formulaire {
        width: 40%;
        backdrop-filter: blur(7px);
        background: aliceblue;
        color: #000;
        border-radius: 15px;
        padding: 20px;
        opacity: .7;
        background-color: rgba(142, 143, 143, 0.397);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .contact-container .formulaire .h2 {
        text-align: center;
        font-size: 15px;
        margin-left: 5px;
    }

    .contact-container .formulaire .li .li-3 {
        margin-left: 35px;
        width: 90px;
        font-size: 15px;
    }

    .image2 {
        width: 40%;
        /* padding: 20px; */
    }

    .image2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width:480px) {
    .contact-container {
        display: block;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        /* align-items: center; */
        padding: 20px;
        /* margin: 150px auto; */
        width: 80%;
        border-radius: 25px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .contact-form {
        /* opacity: 0.5; */
        backdrop-filter: blur(5px);
        background: rgba(184, 185, 185, 0.096);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #000;
    }

    .contact-container .formulaire {
        width: 90%;
        backdrop-filter: blur(7px);
        background: aliceblue;
        color: #000;
        border-radius: 15px;
        padding: 15px;
        opacity: .7;
        background-color: rgba(142, 143, 143, 0.397);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .contact-container .formulaire .h2 {
        text-align: center;
        font-size: 15px;
        margin-left: 5px;
    }

    .contact-container .formulaire .li .li-3 {
        margin-left: 60px;
        width: 90px;
        font-size: 15px;
    }

    .image2 {
        width: 70%;
        /* padding: 20px; */
    }

    .image2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



/*  end section */

/* Footer section */

.footer {
    display: flex;
    background-color: #90cf37;
}

.footer footer {
    display: flex;
    width: 50%;
    /* background-color: #f9f9f9; */
}

.footer footer .navbar {
    width: 50%;
}

.footer .footer-newsletter {
    display: flex;
    width: 45%;
}

.footer .footer-newsletter .newsletter {
    border: none;
    margin: auto;
    width: 50%;
    font-size: 16px;
    margin-right: 70px;
    border-radius: 15px;
    padding: 10px;
    background-color: aliceblue;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer .footer-newsletter .img_newsletter {
    width: 25%;
    /* height: 30%; */
    object-fit: cover;
    border: none;
}

.footer .footer-newsletter .img_newsletter .newsletter_img {
    width: 100%;
    height: 100px;
}

.footer .footer-newsletter .newsletter_send {
    width: 20%;
    margin: auto;
    border: none;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px;
    background-color: #1a2905cb;
    color: rgb(93, 252, 19);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer .footer-newsletter .newsletter_send:hover {
    border: none;
    color: #050800;
    background-color: #66a014da;
    transition: .5s;
}

/* end section */
.footer-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: small;
    align-items: right;
    height: 30px;
    width: 60%;

}

.footer-navbar ul {
    width: 100%;
    display: flex;
    text-align: center;
    list-style-type: none;
    margin-left: 5px;
}

.footer-navbar ul .footer-li a:hover {
    color: #ffffff;
    transition: .7s;
}

.footer-navbar .footer-nav {
    /* margin: 50%; */
    margin-left: 180px;
    margin-top: 0;
    /* width: 50%; */
    height: 45px;
    /* background-color: #030501; */
    border-radius: 25px;
    /* text-align: left; */
}

.footer-li {
    color: #0c1303;
    font-size: 17px;
    padding-bottom: 50px;
    margin-left: 45px;
    /* justify-content: space-between; */
}

.footer-li a {
    text-decoration: none;
    color: #080c03;
}


/* Responsive footer page  */

@media (max-width:900px) {
    .footer {
        display: block;
        /* background-color: #90cf37; */
    }

    .footer footer {
        display: flex;
        width: 50%;
        /* background-color: #f9f9f9; */
    }

    footer .logo-1 {

        width: 100px;
        height: 50px;
        /* background-color: #f9f9f9; */
    }

    .footer footer .navbar {
        width: 50%;
    }

    .footer .footer-newsletter {
        display: flex;
        width: 80%;
    }

    .footer .footer-newsletter .newsletter {
        border: none;
        margin: auto;
        width: 50%;
        font-size: 16px;
        margin-right: 70px;
        border-radius: 15px;
        padding: 10px;
        background-color: aliceblue;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .footer .footer-newsletter .img_newsletter {
        width: 25%;
        /* height: 30%; */
        object-fit: cover;
        border: none;
    }

    .footer .footer-newsletter .img_newsletter .newsletter_img {
        width: 100%;
        height: 100px;
    }

    .footer .footer-newsletter .newsletter_send {
        width: 20%;
        margin: auto;
        border: none;
        font-size: 16px;
        margin-right: 5px;
        border-radius: 15px;
        padding: 10px;
        background-color: #1a2905cb;
        color: rgb(93, 252, 19);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .footer .footer-newsletter .newsletter_send:hover {
        border: none;
        color: #050800;
        background-color: #66a014da;
        transition: .5s;
    }

    /* end section */
    .footer-navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: small;
        align-items: left;
        height: 30px;
        width: 10%;

    }

    .footer-navbar ul {
        width: 10%;
        display: flex;
        text-align: center;
        list-style-type: none;
        margin-left: 5px;
    }

    .footer-navbar .footer-nav {
        /* margin: 50%; */
        margin-left: 0;
        margin-top: 0;
        /* width: 50%; */
        height: 45px;
        /* background-color: #030501; */
        border-radius: 25px;
        /* text-align: left; */
    }

    .footer-li {
        color: #0c1303;
        font-size: 13px;
        padding-bottom: 50px;
        margin-left: 15px;
        /* justify-content: space-between; */
    }

    .footer-li a {
        text-decoration: none;
        color: #080c03;
    }
}

@media(max-width:480px) {
    .footer {
        display: block;
        /* background-color: #90cf37; */
    }

    .footer footer {
        display: flex;
        width: 50%;
        /* background-color: #f9f9f9; */
    }

    footer .logo-1 {

        width: 90px;
        /* background-color: #f9f9f9; */
    }

    .footer footer .navbar {
        width: 50%;
    }

    .footer .footer-newsletter {
        display: flex;
        width: 85%;
    }

    .footer .footer-newsletter .newsletter {
        border: none;
        /* margin: auto; */
        width: 70%;
        font-size: 10px;
        margin-right: 60px;
        border-radius: 15px;
        padding: 10px;
        background-color: aliceblue;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .footer .footer-newsletter .img_newsletter {
        width: 120px;
        /* height: 30%; */
        object-fit: cover;
        border: none;
    }

    .footer .footer-newsletter .img_newsletter .newsletter_img {
        width: 90%;
        height: 90px;
    }

    .footer .footer-newsletter .newsletter_send {
        width: 60px;
        margin: auto;
        border: none;
        font-size: 10px;
        margin-right: 5px;
        border-radius: 15px;
        padding: 10px;
        background-color: #1a2905cb;
        color: rgb(93, 252, 19);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* end section */
    .footer-navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: small;
        align-items: left;
        height: 30px;
        width: 10%;

    }

    .footer-navbar ul {
        width: 10%;
        display: flex;
        text-align: center;
        list-style-type: none;
        margin-left: 5px;
    }

    .footer-navbar .footer-nav {
        /* margin: 50%; */
        margin-left: 0;
        margin-top: 0;
        /* width: 50%; */
        height: 45px;
        /* background-color: #030501; */
        border-radius: 25px;
        /* text-align: left; */
    }

    .footer-li {
        color: #0c1303;
        font-size: 10px;
        padding-bottom: 50px;
        margin-right: 10px;
        /* justify-content: space-between; */
    }

    .footer-li a {
        text-decoration: none;
        color: #080c03;
    }
}

/* End Responsive footer */

/* User profil section  */

.grid {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    border-radius: 25px;
    background-color: #f9f9f9;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user_grid {
    display: block;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: left;
    padding: 20px;
    /* margin: 40px auto; */
    border-radius: 25px;
    width: 100%;
    background-color: #f9f9f9;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.usergrid {
    display: block;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 40px auto;
    margin-top: 0;
    width: auto;
    height: 380px;
    /* background-color: #f9f9f9; */
    overflow: hidden;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.usergrid .transaction {
    width: 80%;
    height: 90%;
    text-align: center;
    margin-left: 130px;
    margin-bottom: 90px;
    /* margin-top: 20px; */
    border-radius: 15px;
    overflow: scroll;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.usergrid .transaction .table {
    /* border: 1px solid #0c1303; */
    height: 100%;
    /* border-radius: 25px; */
    margin-left: 25px;
    background-color: #8fcf3557;
}

.usergrid .formulaire {
    width: 80%;
    height: 100%;
    text-align: center;
    margin-left: 130px;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user_grid .separator {
    width: 85%;
    margin-left: 6%;
    margin-top: 40px;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.336);
}

.cp {
    margin-left: 140px;
    padding: 20px;
    border-radius: 25px;
    width: 80%;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user_profil {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user_profil .profil_grid {
    width: 30%;
}

.user_profil .profil_grid .image_profile {
    width: 25%;
    height: 85px;
    border-radius: 50%;
}

.user_profil .user_nav {
    width: 70%;
}

.user_profil .user_nav ul {
    width: 100%;
    display: flex;
}

.user_profil .user_nav ul li {
    margin-left: 50px;
    list-style: none;
    cursor: pointer;
}

.user_grid .transaction_client ul {
    display: flex;
}

.user_grid .transaction_client ul li {
    width: 80%;
    list-style: none;
    /* text-decoration: none; */
    cursor: pointer;
}

.user_grid .transaction_client ul li a {
    text-decoration: none;
    color: black;
}

.user_grid .transaction_client ul li a:hover {
    color: rgb(40, 104, 10);
}

.detail_compte {
    display: flex;
    margin-left: 40px;
}

.detail_compte a {
    margin-left: 4px;
    margin-bottom: 50px;
}

@media(max-width:1024px) {

    .super_grid {
        display: flex;
        height: 450px;
    }

    .super_grid1 {
        display: flex;
        height: 200px;
    }

    .grid1 {
        width: 50%;
        height: 90%;
    }

    .grid2 {
        width: 50%;
        display: block;
    }

    .grid1 .grid {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 40px auto;
        font-size: 17px;
        width: 75%;
        height: 100%;
        border-radius: 25px;
        background-color: #f9f9f9;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .grid2 .grid3 {
        display: flex;
        margin-top: 20px;
    }

    .grid2 .grid3 .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 40px auto;
        font-size: 17px;
        width: 40%;
        height: 90px;
        border-radius: 25px;
        background-color: #f9f9f9;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .grid {
        font-size: 17px;
        width: 75%;
        height: 100px;
        border-radius: 25px;
        background-color: #f9f9f9;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user_grid {
        display: block;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: left;
        font-size: 17px;
        padding: 20px;
        /* margin: 40px auto; */
        border-radius: 25px;
        width: 100%;
        background-color: #f9f9f9;
        /* margin-left: 200px; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }

    .usergrid {
        display: block;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 40px auto;
        margin-top: 0;
        font-size: 17px;
        width: 95%;
        height: 350px;
        margin-right: 400px;
        background-color: #f9f9f9;
        overflow: hidden;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }

    .usergrid .transaction {
        width: 80%;
        height: 90%;
        text-align: center;
        margin-left: 130px;
        margin-bottom: 90px;
        /* margin-top: 20px; */
        border-radius: 15px;
        overflow: scroll;
        padding: 20px;
        background-color: aliceblue;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .usergrid .transaction .table {
        /* border: 1px solid #0c1303; */
        height: 100%;
        /* border-radius: 25px; */
        margin-left: 25px;
        background-color: #8fcf3557;
    }

    .usergrid .formulaire {
        width: 80%;
        height: 100%;
        text-align: center;
        margin-left: 130px;
        margin-bottom: 50px;
        margin-top: 20px;
        border-radius: 15px;
        padding: 20px;
        background-color: aliceblue;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .separator {
        width: 85%;
        margin-left: 6%;
        margin-top: 50px;
        margin-bottom: 10px;
        border: 1px solid #90cf35;
    }

    .cp {
        margin-left: 75px;
        padding: 20px;
        border-radius: 50px;
        width: 80%;
        font-size: 17px;
        height: 15px;
        color: white;
        background-color: #070707;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user_profil {
        display: block;
        flex-wrap: wrap;
        border-radius: 25px;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 40px auto;
        width: 80%;
        height: 70px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user_profil .profil_grid {
        width: 100%;
        height: 40px;
        display: flex;
        font-size: 17px;

    }

    .user_profil .profil_grid .image_profile {
        width: 60px;
        height: 65px;
        border-radius: 50%;
    }

    .user_profil .profil_grid span {
        font-size: 17px;
    }

    .user_profil .user_nav {
        width: 100%;
        margin-left: 0px;
        top: 10px;

    }

    .user_profil .user_nav ul {
        width: 100%;
        display: flex;
        /* margin-left: 250px; */
    }

    .user_profil .user_nav ul li {
        margin-left: 40px;
        list-style: none;
        font-size: 17px;
        cursor: pointer;
        /* margin-left: 250px; */
    }

    .user_grid .transaction_client ul {
        display: flex;
        margin-right: 50px;
    }

    .user_grid .transaction_client ul li {
        width: 80%;
        list-style: none;
        /* text-decoration: none; */
        cursor: pointer;

    }

    .user_grid .transaction_client ul li a {
        text-decoration: none;
        color: black;
        font-size: 17px;
    }

    .user_grid .transaction_client ul li a:hover {
        color: rgb(40, 104, 10);
    }

    .detail_compte {
        display: flex;
        margin-left: 40px;
    }

    .detail_compte a {
        margin-left: 4px;
        margin-bottom: 50px;
    }
}

@media(max-width:768px) {

    .super_grid {
        display: flex;
        height: 450px;
    }

    .super_grid1 {
        display: flex;
        height: 200px;
    }

    .grid1 {
        width: 50%;
        height: 90%;
    }

    .grid2 {
        width: 50%;
        display: block;
    }

    .grid1 .grid {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 40px auto;
        font-size: 17px;
        width: 75%;
        height: 100%;
        border-radius: 25px;
        background-color: #f9f9f9;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .grid2 .grid3 {
        display: flex;
        margin-top: 20px;
    }

    .grid2 .grid3 .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 40px auto;
        font-size: 17px;
        width: 40%;
        height: 90px;
        border-radius: 25px;
        background-color: #f9f9f9;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .grid {
        font-size: 17px;
        width: 75%;
        height: 100px;
        border-radius: 25px;
        background-color: #f9f9f9;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user_grid {
        display: block;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: left;
        font-size: 17px;
        padding: 20px;
        /* margin: 40px auto; */
        border-radius: 25px;
        width: 100%;
        background-color: #f9f9f9;
        /* margin-left: 200px; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }

    .usergrid {
        display: block;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 40px auto;
        margin-top: 0;
        font-size: 17px;
        width: 95%;
        height: 350px;
        margin-right: 400px;
        background-color: #f9f9f9;
        overflow: hidden;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }

    .usergrid .transaction {
        width: 80%;
        height: 90%;
        text-align: center;
        margin-left: 130px;
        margin-bottom: 90px;
        /* margin-top: 20px; */
        border-radius: 15px;
        overflow: scroll;
        padding: 20px;
        background-color: aliceblue;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .usergrid .transaction .table {
        /* border: 1px solid #0c1303; */
        height: 100%;
        /* border-radius: 25px; */
        margin-left: 25px;
        background-color: #8fcf3557;
    }

    .usergrid .formulaire {
        width: 80%;
        height: 100%;
        text-align: center;
        margin-left: 130px;
        margin-bottom: 50px;
        margin-top: 20px;
        border-radius: 15px;
        padding: 20px;
        background-color: aliceblue;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .separator {
        width: 85%;
        margin-left: 6%;
        margin-top: 50px;
        margin-bottom: 10px;
        border: 1px solid #90cf35;
    }

    .cp {
        margin-left: 75px;
        padding: 20px;
        border-radius: 50px;
        width: 80%;
        font-size: 17px;
        height: 15px;
        color: white;
        background-color: #070707;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user_profil {
        display: block;
        flex-wrap: wrap;
        border-radius: 25px;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 40px auto;
        width: 80%;
        height: 70px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user_profil .profil_grid {
        width: 100%;
        height: 40px;
        display: flex;
        font-size: 17px;

    }

    .user_profil .profil_grid .image_profile {
        width: 60px;
        height: 65px;
        border-radius: 50%;
    }

    .user_profil .profil_grid span {
        font-size: 17px;
    }

    .user_profil .user_nav {
        width: 100%;
        margin-left: 0px;
        top: 10px;

    }

    .user_profil .user_nav ul {
        width: 100%;
        display: flex;
        /* margin-left: 250px; */
    }

    .user_profil .user_nav ul li {
        margin-left: 40px;
        list-style: none;
        font-size: 17px;
        cursor: pointer;
        /* margin-left: 250px; */
    }

    .user_grid .transaction_client ul {
        display: flex;
        margin-right: 50px;
    }

    .user_grid .transaction_client ul li {
        width: 80%;
        list-style: none;
        /* text-decoration: none; */
        cursor: pointer;

    }

    .user_grid .transaction_client ul li a {
        text-decoration: none;
        color: black;
        font-size: 17px;
    }

    .user_grid .transaction_client ul li a:hover {
        color: rgb(40, 104, 10);
    }

    .detail_compte {
        display: flex;
        margin-left: 40px;
    }

    .detail_compte a {
        margin-left: 4px;
        margin-bottom: 50px;
    }
}

@media(max-width:480px) {

    .super_grid {
        display: flex;
        height: 240px;
    }

    .super_grid1 {
        display: flex;
        height: 100px;
    }

    .grid1 {
        width: 50%;
        height: 90%;
    }

    .grid2 {
        width: 50%;
        display: block;
    }

    .grid1 .grid {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        margin: 40px auto;
        font-size: 9px;
        text-align: center;
        width: 75%;
        height: 100%;
        border-radius: 25px;
        background-color: #f9f9f9;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .grid2 .grid3 {
        display: flex;
        margin-top: 4px;
    }

    .grid2 .grid3 .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        margin: 40px auto;
        font-size: 9px;
        text-align: center;
        width: 40%;
        height: 30px;
        border-radius: 25px;
        background-color: #f9f9f9;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .grid {
        font-size: 9px;
        text-align: center;
        width: 75%;
        height: 50px;
        border-radius: 25px;
        background-color: #f9f9f9;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user_grid {
        display: block;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        font-size: 9px;
        text-align: center;
        padding: 20px;
        /* margin: 40px auto; */
        border-radius: 25px;
        width: 100%;
        background-color: #f9f9f9;
        /* margin-left: 200px; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }

    .usergrid {
        display: block;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        padding: 20px;
        margin: 40px auto;
        margin-top: 0;
        font-size: 9px;
        text-align: center;
        width: 95%;
        height: 350px;
        margin-right: 400px;
        background-color: #f9f9f9;
        overflow: hidden;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }

    .usergrid .transaction {
        width: 80%;
        height: 90%;
        text-align: center;
        margin-left: 130px;
        margin-bottom: 90px;
        /* margin-top: 20px; */
        border-radius: 15px;
        overflow: scroll;
        padding: 20px;
        background-color: aliceblue;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .usergrid .transaction .table {
        /* border: 1px solid #0c1303; */
        height: 100%;
        /* border-radius: 25px; */
        margin-left: 25px;
        background-color: #8fcf3557;
    }

    .usergrid .formulaire {
        width: 80%;
        height: 100%;
        text-align: center;
        margin-left: 130px;
        margin-bottom: 50px;
        margin-top: 20px;
        border-radius: 15px;
        padding: 20px;
        background-color: aliceblue;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .separator {
        width: 85%;
        margin-left: 6%;
        margin-top: 50px;
        margin-bottom: 10px;
        border: 1px solid #90cf35;
    }

    .cp {
        margin-left: 15px;
        padding: 20px;
        border-radius: 50px;
        width: 65%;
        font-size: 9px;
        height: 15px;
        color: white;
        background-color: #070707;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .cp:hover {
        cursor: pointer;
        color: #0c1303;
        background-color: #90cf35;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user_profil {
        display: block;
        flex-wrap: wrap;
        border-radius: 25px;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 40px auto;
        width: 80%;
        height: 70px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user_profil .profil_grid {
        width: 100%;
        height: 40px;
        display: flex;
        font-size: 9px;
    }

    .user_profil .profil_grid .image_profile {
        width: 30px;
        height: 35px;
        border-radius: 50%;
    }

    .user_profil .profil_grid span {
        font-size: 9px;
    }

    .user_profil .user_nav {
        width: 100%;
        margin-left: 0px;
        top: 10px;

    }

    .user_profil .user_nav ul {
        width: 100%;
        display: flex;
        /* margin-left: 250px; */
    }

    .user_profil .user_nav ul li {
        margin-left: 10px;
        list-style: none;
        font-size: 9px;
        cursor: pointer;
        /* margin-left: 250px; */
    }

    .user_grid .transaction_client ul {
        display: flex;
        margin-left: 10px;
    }

    .user_grid .transaction_client ul li {
        width: 80%;
        list-style: none;
        /* text-decoration: none; */
        cursor: pointer;

    }

    .user_grid .transaction_client ul li a {
        text-decoration: none;
        color: black;
        font-size: 9px;
    }

    .user_grid .transaction_client ul li a:hover {
        color: rgb(40, 104, 10);
    }

    .detail_compte {
        display: flex;
        margin-left: 40px;
    }

    .detail_compte a {
        margin-left: 4px;
        margin-bottom: 50px;
    }
}

.contenu {
    padding-bottom: 50px;
}

.nav-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #90cf35;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bottom li {
    display: inline-block;
    margin-right: 20px;
}

.nav-bottom a {
    color: #121d03;
    text-decoration: none;
}

@media (max-width:900px) {
    .contenu {
        padding-bottom: 50px;
    }

    .nav-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #90cf37;
        padding: 20px;
        text-align: center;
    }

    .nav-bottom ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-bottom li {
        display: inline-block;
        margin-right: 20px;
    }

    .nav-bottom a {
        color: #0e1602;
        text-decoration: none;
    }
}

@media (max-width:480px) {
    .contenu {
        padding-bottom: 50px;
    }

    .nav-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #90cf37;
        padding: 20px;
        text-align: center;
    }

    .nav-bottom ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-bottom li {
        display: inline-block;
        margin-right: 12px;
        text-align: center;
    }

    .nav-bottom a {
        color: #142003;
        font-size: 9px;
        text-decoration: none;
    }
}


/* End user section  */